nav{
    margin: 20px 0 0 20px;
    position: fixed;
    z-index: 2;
    
    ul{        
        white-space: nowrap;
        li{
            display: inline;
            margin: 20px; 
            cursor: pointer; 

             @include mobile { 
                 margin: 10px;
             }
                
        }
    }  

    @include mobile { 
        left: 50%;
        transform: translateX(-50%);  
        margin: 20px 0; 
    }
        
}