@import url('https://fonts.googleapis.com/css?family=Catamaran|Gentium+Basic|Julius+Sans+One|Open+Sans');

/* Headings
--------------------------------------------------------------*/
html,
body {
	font-family: 'Gentium Basic', serif;
	font-family: 'Julius Sans One', sans-serif;
	font-family: 'Open Sans', sans-serif;
	font-family: 'Catamaran', sans-serif;
}

*{
	font-size: $fontSizeNormal;
	
}

h1 {
	font-size: 50px;
	color: $black;
	margin-bottom: $spacingMin;

	@include mobile {        
        font-size: 35px; 
    }
}

h2{
	font-size: 30px;
	color: $black;
	
	@include mobile {        
        font-size: 25px; 
    }
}

h3{
	
	font-size: $fontSizeNormal;
    font-weight: bold;
}

a {
	 color: $black;

	 &:hover{
		  color: $darkBlue;
		  
	 }
}


/* Breaks
--------------------------------------------------------------*/
hr {

}

/* Paragraphs
--------------------------------------------------------------*/
p {
	//line-height:
	margin: 20px 0;
	line-height: 20px;
}

/* Type Styles
--------------------------------------------------------------*/
.ltrspc {
	letter-spacing: 1px;
}

