/* colours */
$white: #ffffff;
$offWhite: #F5F3EE;
$lightBlue: #4DD0E1;
$darkBlue: #2c5b7d;
$orange: #FF9800;
$black: rgb(68, 68, 68);
$grey: #cccccc;
$darkGrey: #8d8a8a;

/* spacing */
$spacingSuperMin: 10px;
$spacingMin: 30px;