.home-page{   

    &.bg-1{
        &::before {       
            background-image: url(/imgs/bg-1.jpg);      
        }  
    }
     &.bg-2{
        &::before {       
            background-image: url(/imgs/bg-2.jpg);      
        }  
    }
     &.bg-3{
        &::before {       
            background-image: url(/imgs/bg-3.jpg);      
        }  
    }

    &::before {       
            
         filter: grayscale(75%);
    }  

    nav{
        background: none;
    }
    section.content{
       display: block;
       margin: 0 auto;
    }


    .profileTopRight{
        display: none;
    }

    .photo{
        background-image: url(/imgs/me.png);
        background-size: cover;  
        width: 200px;
        height: 200px;
        display: inline-block;
        vertical-align: middle;
    }

    .detail{
        display: inline-block;
        vertical-align: middle;
        padding: 20px;
        margin-left: $spacingMin;  

        @include mobile {
            margin-left: 0; 
        }
        

        h1{
            text-align: left;  
            margin: 0 0  $spacingSuperMin 0;    
            font-size: 56px;
            @include mobile { 
                font-size: 36px;
            }   
        }

        h2{
            text-align: left;    
            margin: 0 0  $spacingSuperMin 0;   
            letter-spacing: 9.8px; 

            @include mobile { 
                letter-spacing: 0; 
            }   
        }
        a{
            font-size: 30px;
            text-align: left;
            display: block;  
            margin: 0 0  $spacingSuperMin 0;  
            letter-spacing: 1.85px;  
             @include mobile { 
                letter-spacing: 0; 
                
            }       
        }

        @include mobile {        
            h1,h2,a{
                    text-align: center;
                    margin-bottom: 10px;
                    
            }  
            h2,a{
                font-size: 20px;
            } 

                
        }
    }

    .note{
        margin: $spacingMin*1.5 0 0 0;
        color: $darkGrey;
    }
    
}


