
.skills-page{

    hr{
       margin-top: 50px;
       margin-bottom: 10px;
        @include mobile {
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }

    .skills {
    
        max-width: 800px;
        margin: 0 auto;
    
        li{
            
            background-size: cover; 
            width: 150px;
            height: 100px;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center center;
            display: inline-block;  
            filter: grayscale(1);   
            margin: $spacingMin;
            cursor: pointer;

            @include mobile {
                font-size: 18px;
                width: 100px;
                height: 50px;
            }

            &:hover{
                filter: grayscale(0);   
            }       
        } 
   
    }
    .softSkillWrapper{
        margin: 0 auto;
        max-width: 500px;

        @include mobile {
            max-width: 250px;
        }

        .softSkills{
            text-align: left;
            margin: 0 auto;
            display: block;    
            list-style-type: circle;
            li{
                line-height:25px;
            }
        }
    }
   
}

.skill{
    hr{
        margin: 0 auto;
        margin-top: $spacingMin;
    }
  
    .hero{
         background-size: cover; 
            width: 100%;
            min-height: 100px;
            max-width: 300px;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center center;
            display: block;  
            margin:0 auto;
    }

    .brands {
  
        text-align: center;
        margin: 0 auto;
    
        li{
            
           
            width: 100px;
            height: 50px;
           
        }   
    
    }
}