.carousel{
    ul.images{
        overflow: hidden;
        white-space: nowrap;

        li{
            background-size: cover; 
            width: 100%;
            min-height: 300px;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center center;
            display: inline-block;  
            transition: all 0.5s;
            position: relative;
            &.defaultImage{
                width: 50%;
                min-height: 150px;
                display: block;
                margin: 0 auto;
            }

            .view{
                position: absolute;
                right: 0px;
                bottom: 10px;
                font-size: 30px;
                opacity: 0.5;
                cursor: pointer;

                &:hover{
                    opacity: 1;
                }
            }
        }

    }

    ul.pagination{
        text-align: center;
        margin-top: $spacingSuperMin;     
        li{
            font-size: 12px;
            display: inline;
            margin: 10px; 
            cursor: pointer;             
        }
    }
  

    
    .caption{       
        margin-top: $spacingSuperMin;       
        color: $black;
        text-align: center;
        font-weight: bold;
    }
}

