nav{
    margin: $spacingMin 0 0 $spacingDouble;
    position: fixed;
    z-index: 2;
    background: rgba(255, 255, 255, 0.5);
    ul{        
        white-space: nowrap;
        li{
            display: inline;
            margin-right: 20px; 
            cursor: pointer; 

            
            &.active{
                font-weight: bold;               
            }
             @include mobile { 
                 margin: 10px;
             }
                
        }
    }  

    @include mobile { 
               
        padding: $spacingMin 0;
        margin: 0;
        width: 100%;
        text-align: center;
        body.projects-page &{
            background: rgba(255, 255, 255, 0.9);
        }

        position: relative;
    }
        
}