ul.tags{
    display: inline-block;
    margin-left: $spacingMin;
    
    @include mobile {
        margin: $spacingSuperMin 0 0 0;  
    }

    li{
        border: 1px solid $darkBlue;
        background: $darkBlue;
        border-radius: 3px;
        color:  $white;
        text-transform: lowercase;
        font-size: $fontSizeSmall;
        display: inline-block;
        padding: 3px 6px;
        margin: 5px 5px 0 0;

        
    }
}

